@page "/"

@using Game.Client.Components;
@using Game.Components.Home.Components

<PageTitle>Game</PageTitle>

<div class="h-full flex flex-col items-center">
    <Title />

    <BadgeCard />
</div>